.nav {
  width: 98%;
  margin: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 50px;
}

.nav > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav .logo-nav {
  width: 50px;
  height: 50px;
  color: #b175ff;
}

.nav_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: whitesmoke;
  padding: 0.5rem;
}

.nav_sub .nav-img {
  width: 30px;
  height: 30px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .nav .logo-nav {
    width: 30px;
    height: 30px;
  }

  .nav_sub {
    display: none;
  }

  .nav {
    padding: 1.5rem;
    margin-left: 1rem;
  }
}
