/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.app {
  display: flex;
  flex-direction: column;

  align-items: center;

  min-height: 900px;
  height: fit-content;
  background-image: url("./assets//home-bg.png");
  background-repeat: no-repeat;
  background-color: #131724;
}

/* Optional: Add some responsive styling */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
